<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz sobre Biomas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Quiz sobre Biomas</h2>
        <form method="POST">
            {% csrf_token %}
            {% for question in questions %}
                <div class="form-group">
                    <h4>{{ question.question_text }}</h4>
                    <div>
                        <label>
                            <input type="radio" name="question_{{ forloop.counter }}" value="{{ question.answer_1 }}">
                            {{ question.answer_1 }}
                        </label><br>
                        <label>
                            <input type="radio" name="question_{{ forloop.counter }}" value="{{ question.answer_2 }}">
                            {{ question.answer_2 }}
                        </label><br>
                        <label>
                            <input type="radio" name="question_{{ forloop.counter }}" value="{{ question.answer_3 }}">
                            {{ question.answer_3 }}
                        </label><br>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Enviar Respostas</button>
        </form>
    </div>
</body>
</html>
