<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
            padding: 30px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h2 {
            color: #28a745;
        }

        .btn {
            width: 200px;
            margin-top: 20px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Resultado do Quiz</h2>
        <p>Você acertou <strong>{{ score }}</strong> de <strong>{{ total }}</strong> 5  perguntas!</p>
        
        <!-- Botão para refazer o quiz -->
        <a href="/quiz/" class="btn btn-primary">Tentar Novamente</a>

        <!-- Botão para voltar à página inicial -->
        <a href="/" class="btn btn-success">Voltar à Página Inicial</a>
    </div>
</body>
</html>
